* {
  box-sizing: border-box;
  line-height: 1.8;
  padding:0;
  margin: 0;
  scroll-behavior: smooth;
}

html, body, main {
  height: 100%;
}

/* --- TEXT Formatting  START ---*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color:rgb(62,169,159,255)!important;
}

.nav-links li a {
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 5px;
  font-size: 32px;
}

.btn h1, .rewards-btn h1 {
  font-size: 14px;
}

.title    {
  font-family: 'Shadows Into Light', cursive;
  font-size: 32px;
  letter-spacing: 3px;
  color: #F37976;
}

.menu-sub-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
  letter-spacing: 2px;
  color: rgb(62,169,159,255);
}

.about-us .content, 
.menu-description, 
.rewards-description {
  font-size: 14px;
  color: rgb(92, 92, 92);
}

.menu-item h4 {
  font-size: 22px;
  font-weight: lighter;
  color: rgb(62,169,159,255);
}

.weekly-special .menu-sub-title {
  color: white;
}

.rewards-content .title, .newsletter-content .title {
  font-size: 20px;
  text-align: center;
}
/* -- TEXT formatting END --*/

/* --- Modifiers ----*/
.hide {display: none;}
.light-text {color: white}
.turquoise-text {color: rgb(62,169,159,255);}
.feature p {
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
  color: #F37976;
  font-family: 'Permanent Marker', cursive;
}


/*--- Parallax Images ---*/
.pimg1, .pimg2, .pimg3 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.pimg1 {
  background-image: url(./images/Poke.jpg);
  min-height: 40%;
  background-position: left top;
}

.pimg2 {
  background-image: url(./images/build-your-own.jpg);
  min-height: 200px;
  background-position: center center;  
}

.pimg3 {
  background-image: url(./images/go-poke03.jpg);
  min-height: 500px;
  background-position: center center;
}

/*--- Button Styling ---*/

.btn, .rewards-btn {
  width: fit-content;
  border: 2px solid rgb(62,169,159,255);
  border-radius: 10px;
  padding: 10px;
  color: rgb(62,169,159,255);
  background: rgba(255, 255, 255, 0.75);
}

.btn:hover {cursor: pointer;}

/*---- Navigation ----*/
nav{
  position: fixed;
  top:0;
  z-index: 1;
  width: 100%;
  height:60px;
  padding: 15px;
  background-color:white;
  box-shadow: 0px 3px 10px rgb(117, 113, 113);
}

nav li {
  list-style: none;
  padding: 20px;
  margin:10px;
  color: white;
}

.menu-icon {
  display:block;
  cursor: pointer;
  border: none;
  background: transparent;
}

/*-- close menu effect ---*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(62,169,159,255);
  margin: 6px 0;
  border-radius: 8px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-links {
  text-align: center;
  transition: .5s all ease-in-out;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 60px;
  background-color: rgb(62,169,159,255);
  left: -100%;
  transition: all .5s;
}

nav .nav-links.show {
  left: 0;
}

.nav-links a {
  color: white;
  font-size: 18px;
}

.nav-links a:visited {
  color: white !important;
}

/* --- Home Page ---*/
.home-container {
  margin-top: 60px;
}

.home__content {
  margin-left: 3%;
  min-width: 225px;
  width: 100%;
}

.logo {
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.801) 50%, rgba(0, 0, 0, 0));
}

.logo img {
  width: 55%;
  max-width: 500px;
  margin-top: 20px;
}

.btn-container {
  margin-left: 5%;
}

.btn-container .btn {
  margin: 30px 0 15px 0;
}

.btn-container :not(:last-child) {
  margin-bottom: 20px;
}

/*--- About Us ---*/
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us .title {
  margin-bottom: 10px;
}

.about-us .content p {
  padding: 5px;
  margin:5px;
  text-align: center;
}

/* --- Menu Styles ---*/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color:rgb(247, 253, 253);
}

.weekly-special {
  background-color: rgb(53, 52, 52);
}

.bowl-choice, .poke-choice, .style-choice {
  text-align: center;
  margin: 10px 5% 30px 5%;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.menu-sub-title, .menu-description {
  margin-bottom: 15px;
  padding:5px;
}


/*--- Newsletter & Rewards ---*/
.newsletter-rewards {
  background-color:rgb(247, 253, 253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rewards-content, .newsletter-content {
  display: flex;
  flex-direction: column;
  margin: 30px 5%;
  padding: 40px 30px;
  border: 1px solid lightgray;
  background-color: white;
}

.rewards-content :not(:last-child) {
  margin-bottom: 40px;
}

.newsletter-content :not(:last-child) {
  margin-bottom: 20px;
}

/* -- newsletter sign-up form --*/

label {
  font-size: 14px;
}

.newsletter-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-grp, .form-grp input {
  width: 100%
}

.form-style {
  border: 1px solid lightgray;
  outline: none;
}




@media all and (min-width: 600px) {
  .nav-links {
    width: 50%;
  }

  .about-us {
    min-height: 400px;
  }

  .about-us .content {
    max-width: 600px;
  }

  .gallery-images {
    display: flex;
    width: 300px;
    justify-content:space-evenly;
  }

  .gallery-images img {
    margin: 15px;
  }

  .rewards-content .title, .newsletter-content .title {
    font-size: 18px;
  }


  .newsletter-rewards {
    background-color:rgb(247, 253, 253);
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .rewards-content, .newsletter-content {
    margin: 30px 5%;
    padding: 40px;
    border: 1px solid lightgray;
    background-color: white;
  }

  .rewards-content {
    min-width: 250px;
    max-width: 400px;
  }

  .newsletter-content {
    max-width: 600px;
  }
  
  /*---form card---*/
  .newsletter-form-container {
    display: flex;
    flex-direction: row;
  }

  #newsletter-form {
    display: flex;
    justify-content: space-between;
  }
  
  #newsletter-form :not(:last-child) {
    margin-right: 20px;
  }

  .form-grp, .form-grp #form-btn {
    width: 50%;
  }
}

@media all and (min-width: 800px) {
  /*--text re-sizing--*/
  .btn h1 {font-size: 24px;}

  .nav-links {
    width: 25%;
  }

  .pimg1, .pimg2, .pimg3 {
    background-attachment: fixed;
  }

  .pimg1 {
    min-height: 90%;
    background-position: center top;
  }

  .pimg2 {
    min-height: 500px;
  }

  .pimg3 {
    min-height: 500px;
  }

 

  .home__content {
    margin-left: 5%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    width: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
    background: none;
  }
  
  .logo img {
    width: 55%;
    max-width: 500px;
    margin-top:0;
  }
  
  .btn-container {
    margin-left: 5%;
    display: flex;
  }
  
  .btn-container .btn {
    margin: 0;
  }
  
  .btn-container :not(:last-child) {
    margin-bottom:0;
    margin-right: 60px;
  }

}
