* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.8;
  padding:0;
  margin: 0;
  scroll-behavior: smooth;
}

html, body, main {
  height: 100%;
}

nav{
  position: fixed;
  top:0;
  z-index: 1;
  width: 100%;
  height:60px;
  padding: 15px;
  background-color:white;
  box-shadow: 0px 3px 10px rgb(117, 113, 113);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a:not(:last-child){
  margin-right: 10px;
}

/* --- TEXT Formatting ---*/

a         {text-decoration: none;}
a:visited {color:rgb(62,169,159,255)!important;}
.btn h1   {font-size: 14px;}
.title    {font-size: 18px;  color: rgb(62,169,159,255);}
.menu-sub-title {font-size: 16px;}
.content, 
.menu-description, 
.rewards-description {font-size: 14px;}
.menu-item h4 {
  font-size: 22px;
  font-weight: lighter;
  color: rgb(62,169,159,255);
}

/* --- Modifiers ----*/
.dark-bg {background-color:rgb(107, 202, 193);}
.light-text{color: rgb(236, 234, 234);}
.darker-text {color:rgb(121, 119, 119);}
.feature p {
  font-size: 28px;
  font-weight: lighter;
  color: rgb(62,169,159,255);
}

/* --- General Content Spaceing ---*/
.about-us, .gallery-container .content {
  margin: 40px 3% 60px 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--- Button Styling ---*/

.btn {
  width: fit-content;
  border: 2px solid rgb(62,169,159,255);
  padding: 10px;
  color: rgb(62,169,159,255);
  background: rgba(255, 255, 255, 0.75);
}

.btn:hover {cursor: pointer;}

/*--- Parallax Images ---*/
.pimg1, .pimg2 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.pimg1 {
  background-image: url(./images/Poke-65-Transparancy.jpg);
  min-height: 40%;
  background-position: left top;
}

.pimg2 {
  background-image: url(./images/build-your-own-65-Transparancy.jpg);
  min-height: 200px;
  background-position: center center;
}


/* --- Home Page ---*/
.home-container {
  border: 1px solid red;  
  display: flex;
  align-items: stretch;
  margin-top: 60px;
}

.left {
  border: 1px solid green;
  margin-left: 3%;
  min-width: 225px;
  width: 50%;
}

.logo img {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 20%;
}

.btn-container {
  border: 1px solid orange;
  margin-left: 5%;
}

.btn-container :not(:last-child) {
  margin-bottom: 20px;
}

/*--- About Us ---*/
.about-us .title {
  margin-bottom: 10px;
}

.about-us .content p {
  padding: 5px;
  margin:5px;
  text-align: center;
}

/* --- Menu Styles ---*/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(247, 253, 253);
  padding-top: 20px;
  padding-bottom: 40px;
}

.bowl-choice, .poke-choice, .style-choice {
  text-align: center;
  margin: 10px 5% 30px 5%;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.menu-sub-title, .menu-description {
  margin-bottom: 15px;
  padding:5px;
}



/* --- Gallery Styles --*/

.images img {
  width: 100%;
  height: auto;
}

/*--- Newsletter & Rewards ---*/
.newsletter-rewards {
  background-image: url(./images/go-poke03-65-Transparancy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.rewards, .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  
}

.rewards-content, .newsletter-content {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
}

/* -- newsletter sign-up form --*/

label {
  font-size: 16px;
}

.newsletter-form-container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.form-container {
  width: 90%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 20px;
}

.form-grp {
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
}

.form-grp input, .form-grp textarea {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

textarea {
  resize: vertical;
}

.form-style {
  border: 1px solid lightgray;
  outline: none;
}


@media all and (min-width: 800px) {
  .container, .gallery-container .content {
    margin: 40px 10% 60px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pimg1, .pimg2 {
    background-attachment: fixed;
    min-height: 90%;
  }

  .pimg2 {
    min-height: 400px;
  }

}


